# Ignore IDE files
.idea/
*.iml


# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore version control directories
.git/
.gitignore

# Ignore any other files or directories you don't need in the image
*.class

!pom.xml
!/.mvn/